* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
#box1{
      height: 300px;
      width: 300px;
      background-color: #787ae9;
}
#box2{
      height: 300px;
      width: 300px;
      background-color: #e24099;
}