* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
body{
      overflow-x: hidden;
}
#box1{
      height: 300px;
      width: 300px;
      background-color: #787ae9;
}
#box2{
      height: 300px;
      width: 300px;
      background-color: #e24099;
}
#box3{
      height: 300px;
      width: 300px;
      background-color: #ff5361;
}

#page1{
      width: 100%;
      height: 100%;
      background-color: darkblue;
      display: flex;
      align-items: center;
      justify-content: center;
}
#page2{
      width: 100%;
      height: 100%;
      background-color: rgb(77, 77, 175);
      display: flex;
      align-items: center;
      justify-content: center;
}
#page3{
      width: 100%;
      height: 100%;
      background-color: rgb(41, 41, 80);
      display: flex;
      align-items: center;
      justify-content: center;
}

.box{
      height: 300px;
      width: 300px;
      background-color: rgb(189, 0, 236);
}
#page4{
      background-color: #e24099;
      width: 100%;
      height: 100%;
      /* display: flex;
      align-items: center;
      justify-content: center; */
}
#page4 h1{
      font-size: 36vw;
      text-transform: uppercase;
      font-weight: 500;
}